#rule.in,
#rule.collapsing,#vozvratdiv.in,#vozvratdiv.collapsing {
    display: block!important;
}
#headerlinks {
    float: right;
    background-color: #70a6b6;
    font-size: 16px;
    color: #ffffff;
    max-width: 380px;
}

.navbar-mobile {
  position: relative;
  height: 60px;
}

.navbar-home,
.navbar-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.navbar-home {
  left: 20px;
  font-size: 20px;
  color: #47777e;
}

.navbar-button {
  right: 20px;
  margin: 0;
  background-color: #47777e !important;
  border-color: #47777e !important;
}

.navbar-inverse{
    background-color:transparent;
}

.row-centered {
    text-align:center;
}


.row {
	margin-right: 0px;
	margin-left: 0px;

}

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;

}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.spinner {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                url('../img/spinner.gif')
                50% 50%
                no-repeat;
}

.navbar-header > button {
    background-color:#000;
}
.navbar-inverse{
    color:#000;
    background-color:#ffffff;
    border-style:solid;
    border-width: 0px 0px 1px ;
}


.navbar-inverse .navbar-nav > li > a{
    color:inherit;
}


.sequence{
	float: left;
}
.positionleft{
	margin-left: 8px;
}

 a {
 	cursor: pointer;
 }


 .navbar-default .navbar-nav  > li > a > div {
	text-align: center;
	font-family: Roboto;
	font-size: 14px;
}
 .navbar-default {
 	z-index: 1000;
 }
.navbar-default .navbar-nav > li >  img{
	float: left;
	height: auto;
	z-index: -1;
}

@media (max-width: 767px) {
  .navbar-fixed-top {
     margin-right: 0 !important;
     margin-left: 0 !important;
  }
  .navbar {
    margin-bottom: 0 !important;
  }

  .nav li:first-child {
    border-bottom: 1px solid;
  }

  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1.5 !important;
}

@media(max-width: 767px) {
  .innercontainer {

  }
  .btn--large__mbl {
    width: 100% !important;
    margin-left: 0 !important;
    margin-bottom: 20px !important;
    font-size: 1.1em !important;
  }
}

@media (max-width: 767px) {

  .form-control {
    background-color: white;
    color: #47777e;
    height: auto !important;
    line-height: 1.5 !important;
  }

  input.form-control::-webkit-input-placeholder {
    color: #ccc;
    font-size: 14px;
  }
  input.form-control::-moz-placeholder { /* Firefox 19+ */
    color: #ccc;
    font-size: 14px;
  }
  input.form-control:-ms-input-placeholder { /* IE 10+ */
    color: #ccc;
    font-size: 14px;
  }
  input.form-control:-moz-placeholder { /* Firefox 18- */
    color: #ccc;
    font-size: 14px;
  }
}

.search-form-wrapper {
  padding: 20px;
  background-image: url("../img/head.png");
  background-size: cover;

}
.search-form {
  padding: 0 20px;
  background-color: rgba(0,0,0,0.5);
  border-radius: 5px;

}

.search-btn-label {
  position: relative;
  display: inline-block;
}

.search-btn-label::before {

}

.search-form-instruction {
  margin-bottom: 20px;
  margin-top: 20px;
  color: white;
  line-height: 1.5;
}

.info-box {
}

.popular-routes {
  padding: 20px;
  padding-bottom: 30px;
  background-color: #eee;
}

.popular-routes__title {
  font-size: 18px;
  padding: 10px;
  text-align: center;
}

.popular-routes__btn {
  width: 100% !important;
  height: auto !important;
  line-height: 1.5 !important;
  font-size: 14px !important;
}

.rules-mobile {
  width: 100%;
  padding: 20px;
}

.rules-mobile-btn.rules-mobile-btn.rules-mobile-btn.rules-mobile-btn.rules-mobile-btn.rules-mobile-btn {
  display: inline-block !important;
  width: auto !important;
  color: #777;
  background-color: white;
  border: 1px solid #ccc;
  font-size: 13px;
}
